body{
    background-color: rgb(250, 250, 250);
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* put the chart below the <Card> */
    flex-direction: column;
}